<footer class="py-5 bg-dark">
    <div class="container px-5">
        <div class="row text-white">
            <div class="col-md-4">
                <h5>Quiénes Somos</h5>
                <p>Somos una empresa dedicada a ofrecer soluciones de trading automatizado con inteligencia artificial para maximizar tus ganancias en el mercado Forex.</p>
            </div>
            <div class="col-md-4">
                <h5>Contacto</h5>
                <p>Email: contacto@iqforexia.com</p>
                <p>Teléfono: +34 123 456 789</p>
            </div>
            <div class="col-md-4">
                <h5>Ubicación</h5>
                <p>Calle de Ejemplo, 123, Madrid, España</p>
            </div>
        </div>
        <div class="row text-white mt-4">
            <div class="col-md-6">
                <p><a href="/terminos" class="text-white">Términos y Condiciones</a></p>
            </div>
            <div class="col-md-6">
                <p class="m-0 text-center text-white">Copyright &copy; IQ Forex IA 2025</p>
            </div>
        </div>
    </div>
</footer>
