<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Invierte con inteligencia, maximiza tu rentabilidad</h1>
                    <p class="lead text-white-50 mb-4">Accede a oportunidades de inversión innovadoras y seguras con nuestra plataforma. Gestión automatizada, análisis avanzado y crecimiento financiero al alcance de tu mano.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/auth/login">Comienza ahora</a>
                        <a class="btn btn-outline-light btn-lg px-4 text-white" href="#!">Más información</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>