<!-- Nosotros Section -->
<section class="py-5 bg-light" id="nosotros">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Quiénes Somos</h2>
            <p class="lead text-muted">IQ forex IA, Impulsando el crecimiento de pequeñas y grandes empresas con inversión inteligente.</p>
        </div>
        <div class="row gx-5">
            <div class="col-lg-6">
                <h3 class="fw-bolder">Nuestra Historia</h3>
                <p>Somos una empresa española dedicada a la inversión en pequeñas y grandes empresas, proporcionando capital semilla para su crecimiento. Nuestra estrategia se basa en la obtención de rentabilidad a través de la participación en las acciones de estas compañías, brindando oportunidades a emprendedores y fortaleciendo el ecosistema empresarial.</p>
            </div>
            <div class="col-lg-6">
                <h3 class="fw-bolder">Nuestra Misión</h3>
                <p>Empoderar empresas a través de inversión estratégica, asegurando su crecimiento y sostenibilidad financiera.</p>
                <h3 class="fw-bolder mt-4">Nuestra Visión</h3>
                <p>Convertirnos en una de las principales empresas de financiamiento e inversión a largo plazo en los próximos cinco años, utilizando inteligencia artificial para optimizar la toma de decisiones.</p>
            </div>
        </div>
    </div>
</section>
